/* This file is for your main application css. */
main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.vote-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style: none;
  padding-left: 0;
}

.vote-button {
  margin: 0 auto;
  display: block;
}

.vote {
  padding-top: 0.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #ccc;
}

.vote:first-child { border-top: 1px solid #ccc; }
.vote:nth-child(even) { background-color: #ececec; }

.choice {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 0 #ccc;
}

@media (min-width: 800px) {
  .choice {
    flex: 1;
  }
}

.choice > .title {
}

.vote-count {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
